div {
    font-size: x-large;
    text-align: center;
}

h1{
    color: brown;
}

.row{
    background-color:bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

img{
    width: 350px;
    flex-wrap: wrap;
}

.Coba2{
    margin: 50px;
}

.alay{
    align-items: center;
}
.link{
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
}
