@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Parisienne&family=Sanchez&display=swap');
.Sambutan{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.Tulisan_1{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_2{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_3{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_35{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_4{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_5{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_6{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_7{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}
.Tulisan_8{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font: bold;
    background-color:#E69D5B;
    border-radius: 10px;
    margin: 20px;
}

.Tulisan_9{
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

div {
    font-size: x-large;
    text-align: center;
}

img{
    width: 300px;
    border-radius: 10px;
}

.closing{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    
}

.kunyuk{
    margin-top: 100px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    /* background-color: coral; */
    color: whitesmoke;
    font-size:larger;
    padding: 10px;
}

.bloop{
    background-image: url("https://i.pinimg.com/originals/7b/cd/7e/7bcd7ef4c5765b7b0dc86da1bdfc8989.jpg");
    color: whitesmoke;
}

.audio{
    align-items: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-image: url("https://i.pinimg.com/originals/7b/cd/7e/7bcd7ef4c5765b7b0dc86da1bdfc8989.jpg");
}

.pesan{
    color: whitesmoke;
    opacity: 0.8;
    font-family:Sanchez;
    font-size:large;
}

button {
    background-color:green;
    border:0.5px solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(82, 207, 66);
}